<% content_for :head do %>
  <%= javascript_pack_tag 'join' %>
<% end %>

<%= link_to 'Ludo', root_path, class: 'title' %>

<% # todo: check invalid game id and whether the game variable is there %>

<% if !@error_msg.nil? %>
  <span class='error-box'><%= @error_msg %></span>
<% end %>

<%= form_with url: join_path, method: 'post', local: true do |form| %>
  <span>
    Enter Game ID
  </span>
  <%= form.label :game_id %>
  <%= form.text_field :game_id, required: true %>
  <%= form.submit %>
<% end %>


<!--
<input id='game-id-input' type='text'></input>
<span id='join-game-btn' class='btn'>Join</span>
-->
