<% content_for :head do %>
  <%= javascript_pack_tag 'wait' %>
<% end %>
<span>
  Game ID: <%= @game.id %>
  <br />
  Status: <%= @game.readable_status %>
  <br />
  Status (Repr): <%= @game.status %>
  <br />
  Participant ID: <%= @participant.id %>
  <br />
  Player ID: <%= @player.id %>
  <br />
  Hostname: <%= @hostname %>
</span>
